@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --base-font-size: 16px;
}

p {
  font-size: 15px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-size: var(--base-font-size);
  font-family: "Inter", sans-serif;
}

body {
  background-color: #fefdf9;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1.75rem 1rem;
}

.header {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.logo:hover {
  transform: scale(105%);
  transition: transform ease-in-out 150ms;
}

nav.menu {
  display: none;
  list-style: none;
}

nav.menu > a {
  color: hsl(236, 13%, 42%);
  text-decoration: none;
  transition: all ease-in-out 150ms;
}

nav.menu > a:hover,
a:active {
  color: hsl(5, 85%, 63%);
  transform: scale(105%);
}

section.feature-article {
  margin-top: 2rem;
}

section.feature-article img {
  object-fit: cover;
  width: 100%;
}
section.feature-article img.desktop {
  height: 300px;
  display: none;
}

section.feature-article h1 {
  margin-top: 1.75rem;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2.5rem;
}

.feature-article__content p {
  margin-top: 1.75rem;
  line-height: 1.875rem;
  font-weight: lighter;
}

section.feature-article button {
  margin-top: 2rem;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border: none;
  background-color: hsl(5, 85%, 63%);
  color: hsl(10, 100%, 95%);
  letter-spacing: 0.2rem;
  transition: transform ease-in-out 150ms;
}
section.feature-article button:hover {
  background-color: hsl(240, 100%, 5%);
}

section.new-articles {
  margin-top: 4rem;
  padding: 1rem;
  background-color: #00001a;
}

section.new-articles h1 {
  font-size: 2rem;
  font-weight: bold;
  color: hsl(44, 92%, 62%);
}
.new-articles-list li:not(:last-child) {
  list-style: none;
  border-bottom: 1px solid #484875;
}
.new-articles-list .article h1:hover {
  color: #e9b363;
}
.new-articles-list li {
  list-style: none;
}

.new-articles .article {
  padding: 2rem 0;
}
.new-articles .article h1 {
  font-size: 1.25rem;
  color: #fff;
  margin-bottom: 10px;
}
.new-articles .article p {
  font-weight: lighter;
  line-height: 1.5rem;
  color: #fff;
}

.trending-articles {
  margin-top: 4rem;
}

.trending-articles li {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.trending-articles img {
  width: 100px;
}

.trending-articles div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.trending-articles div h1 {
  font-size: 1.75rem;
  color: #e6e5e9;
}

.trending-articles div h2 {
  font-size: 1.125rem;
  color: black;
}
.trending-articles div p {
  font-weight: lighter;
  line-height: 1.75rem;
}

@media (min-width: 376px) {
  body {
    display: flex;
    justify-content: center;
  }
  .container {
    display: flex;
    padding: 5.5rem 0;
    width: 1100px;
  }

  a.menu {
    display: none;
  }

  nav.menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .feature-article__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .feature-article__content p {
    font-size: 0.95rem;
    line-height: 1.5rem;
  }
  section.feature-article {
    flex: 73;
    margin-top: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  section.feature-article button {
    margin-top: 2.375rem;
    width: fit-content;
  }

  section.feature-article h1 {
    font-size: 2.75rem;
    line-height: 3.25rem;
  }
  section.feature-article > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  section.feature-article > div * {
    flex: 1;
  }

  section.feature-article h1 {
    margin-top: 0;
  }

  section.feature-article img.mobile {
    display: none;
  }
  section.feature-article img.desktop {
    display: block;
  }
  .hero-articles {
    display: flex;
    gap: 2rem;
    padding-top: 2rem;
  }
  section.new-articles {
    flex: 28;
    margin-top: 0;
    padding: 2rem 1.5rem;
  }
  .new-articles-list li:last-child .article {
    padding-bottom: 0;
  }

  .trending-articles ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .trending-articles li {
    margin-bottom: 0;
  }

  .trending-articles li h2:hover {
    color: #e4645e;
  }
  .trending-articles div {
    width: 221px;
  }
}
